.wimhof {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  user-select: none;
  overflow: hidden;

  .wimhof-background,
  .wimhof-background-image,
  .wimhof-background-mask,
  .wimhof-main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .wimhof-background {
    .wimhof-background-image {
      background: url('assets/images/wimhof-background.jpg');
      object-fit: cover;
    }
    .wimhof-background-mask {
      background: rgba(255,255,255, 0.5);
    }
  }

  .wimhof-main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    .wimhof-content {
      flex-grow: 1;
      background: rgba(255,255,255, 0.7);
    }
  }
}