.wimhof-toolbar {
  height: 3rem;
  display: flex;
  align-items: center;

  background: #393e46;
  color: #eeeeee;

  button {
    background: none;
    border: 0;
    color: #eeeeee;

    &:hover {
      color: #aad8d3;
    }
  }
}