.wait-wizard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    >.wait-wizard-step {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        overflow: auto;
        padding: 0 2rem;
        box-sizing: border-box;

        &.flex {
            display: flex;
            flex-direction: column;
            >.wait-wizard-step-section.grow {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                overflow: hidden;
            }
        }

        >.wait-wizard-step-section {
            margin-top: 1rem;
            >.wait-wizard-step-section-title,
            >.wait-wizard-step-section-input {
                display: block;
                width: 100%;
            }
            >.thumbnails {
                text-align: center;
                margin: 0 -1rem;
                >.thumbnail {
                    cursor: pointer;
                    pointer-events: all;
                    height: 100px;
                    width: 100px;
                    display: inline-block;
                    overflow: hidden;
                    margin: 5px;
                    border: 5px solid transparent;
                    background: transparent;
                    border-radius: 5px;
                    position: relative;
                    >.thumbnail-icon {
                        height: 100%;
                        width: 100%;
                        background: lightgrey;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 45px;
                    }
                    &.selected {
                        border-color: teal;
                        background: teal;
                        &::after {
                            content: none;
                        }
                    }
                    &::after {
                        content: ' ';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: rgba(255,255,255,0.6);
                    }
                    &:hover {
                        &::after {
                            content: none;
                        }
                    }
                    >img {
                        border-radius: 3px;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            >.list {
                flex-grow: 1;
                height: 0;
                overflow: auto;
                margin-bottom: 1rem;
            }
            .checkbox {
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 2px;
                border-bottom: 1px solid lightgrey;
                >input {
                    margin-right: 0.5rem;
                    cursor: pointer;
                }
                >label {
                    cursor: pointer;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 0;
                    flex-grow: 1;
                }
                &.list-header {
                    margin-top: 0.5rem;
                    background: lightgrey;
                    font-weight: bold;
                    border: 1px solid darkgrey;
                }
            }
        }
    }
    >.wait-wizard-footer {
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background: lightgrey;
        border-top: 1px solid darkgrey;
    }
}