@keyframes changeOverlay {
    0% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.waitsession {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    >.app-toolbar {
        position: relative;
        z-index: 1;
        transition: translate 0.5s;
    }

    &.waitsession-idle {
        .app-toolbar {
            translate: 0 -3rem;
        }
    }

    .overlay {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &.waitsession-ended {
        .overlay {
            animation-duration: 1.2s;
            animation-name: changeOverlay;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }

    .overlay-header {
        position: absolute;
        top: 0;
        height: 100%;
        left: 5rem;
        width: 20rem;
        padding: 5rem 1rem;
    }

    .overlay-audio {
        position: absolute;
        height: 8rem;
        bottom: 5rem;
        padding: 0rem 5rem;
        left: 0;
        right: 0;

        .button-start {
            width: 22rem;
            height: 8rem;
            border: none;
            background: none;
            font-size: 50px;
            color: darkslategrey;
            cursor: pointer;
        }
    }

    .text {
        color: gray;
    }

    .title {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 3rem;

        >*+* {
            margin-top: 1rem;
        }
    }

    .subtitle {
        text-align: center;
        margin-top: 5rem;
    }
}