

.app-toolbar {
    --toolbar-height: 2.5rem;
    --background: #3F3B38;
    --color: #eeeeee;
    --color-highlight: #DFDBD8;

    height: var(--toolbar-height);
    background: var(--background);

    color: var(--color);

    overflow: hidden;

    & button {
        background: none;
        border: 0;
        color: var(--color);
        cursor: pointer;

        &:hover {
            color: var(--color-highlight);
        }
    }

    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        & .app-toolbar-left {
            display: inline-block;

        }

        & .app-toolbar-center {
            display: inline-block;
            width: 0;
            flex-grow: 1;
        }

        & .app-toolbar-right {
            display: inline-block;
        }
    }
}