
.audio-player {
  --color-error: red;
  --color-content: darkgrey;
  --color-background: white;

  height: 100%;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  &.error {
    color: var(--color-error);
    .audio-player-progress {
      background: var(--color-error);
    }
  }

  & .audio-player-bar {
    background: var(--color-content);
    height: 1rem;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.5rem;
    & .audio-player-progress {
      background: var(--color-background);
      height: 1rem;
      width: 0%;
      transition: width 0.25s;
    }
  }
}