.audio-player {
  --color-error: red;
  --color-content: darkgrey;
  --color-background: #DDD;

  --progress-bar-height: 1.25rem;

  height: 100%;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  &.error {
    color: var(--color-error);
    .audio-player-progress {
      background: var(--color-error);
    }
  }
}